* {
  margin: 0;
  padding: 0;
  --scale: 5px;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.884);
}
.solar-system {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transform: rotateX(75deg);
}
.planet,
#sun {
  position: absolute;
  border-radius: 50%;
  transform-style: preserve-3d;
  background-size: cover;
}
.pos {
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-75deg);
  animation: invert infinite linear; /* Planet 3D Rotation */
}
.planet {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.orbit {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  animation: orbit infinite linear; /* Orbit Rotation */
  transform-style: preserve-3d;
}

/* ------------ ANIMATIONS ------------ */
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}
/* Animation Durations */
#mercury .pos,
#mercury .planet,
#mercury.orbit {
  animation-duration: 2.89016s;
}
#venus .pos,
#venus .planet,
#venus.orbit {
  animation-duration: 7.38237s;
}
#earth .pos,
#earth .planet,
#earth.orbit {
  animation-duration: 12.00021s;
}
#earth .orbit .pos,
#earth .orbit {
  animation-duration: 0.89764s;
}
#mars .pos,
#mars .planet,
#mars.orbit {
  animation-duration: 22.57017s;
}
#jupiter .pos,
#jupiter .planet,
#jupiter.orbit {
  animation-duration: 142.35138s;
}
#saturn .pos,
#saturn .planet,
#saturn.orbit,
#saturn .ring {
  animation-duration: 353.36998s;
}
#uranus .pos,
#uranus .planet,
#uranus.orbit {
  animation-duration: 1008.20215s;
}
#neptune .pos,
#neptune .planet,
#neptune.orbit {
  animation-duration: 1977.49584s;
}

/* ------------ ORBITS ------------ */
#mercury.orbit {
  width: calc(16 * var(--scale));
  height: calc(16 * var(--scale));
}
#venus.orbit {
  width: calc(20 * var(--scale));
  height: calc(20 * var(--scale));
}
#earth.orbit {
  width: calc(28 * var(--scale));
  height: calc(28 * var(--scale));
}
#earth .orbit {
  width: calc(3 * var(--scale));
  height: calc(3 * var(--scale));
}
#mars.orbit {
  width: calc(36 * var(--scale));
  height: calc(36 * var(--scale));
}
#jupiter.orbit {
  width: calc(50 * var(--scale));
  height: calc(50 * var(--scale));
}
#saturn.orbit {
  width: calc(75 * var(--scale));
  height: calc(75 * var(--scale));
}
#uranus.orbit {
  width: calc(93 * var(--scale));
  height: calc(93 * var(--scale));
}
#neptune.orbit {
  width: calc(105 * var(--scale));
  height: calc(105 * var(--scale));
}

/* ------------ POSITIONS ------------ */
.pos {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mercury .pos {
  left: 50%;
  bottom: 100%;
}
#venus .pos {
  left: 0;
  top: 50%;
}
#earth .pos {
  left: 100%;
  top: 50%;
}
#mars .pos {
  left: 50%;
  top: 100%;
}
#jupiter .pos {
  left: 100%;
  top: 50%;
}
#saturn .pos {
  left: 0%;
  top: 50%;
}
#uranus .pos {
  left: 0;
  top: 50%;
}
#neptune .pos {
  left: 50%;
  top: 0;
}

/* ------------ INDEXES ------------ */
#mercury {
  z-index: 10;
}
#venus {
  z-index: 9;
}
#earth {
  z-index: 8;
}
#moon {
  z-index: 7;
}
#mars {
  z-index: 6;
}
#jupiter {
  z-index: 5;
}
#saturn {
  z-index: 4;
}
#uranus {
  z-index: 3;
}
#neptune {
  z-index: 2;
}
#sun {
  z-index: 1;
}

/* ------------ PLANETS ------------ */
#sun {
  --sun-size: calc(11 * var(--scale));
  height: var(--sun-size);
  width: var(--sun-size);
  background-image: url("./planets/sun.png");
  transform: rotateX(-75deg);
}
#mercury .planet {
  --mercury-size: calc(0.75 * var(--scale));
  height: var(--mercury-size);
  width: var(--mercury-size);
  background-image: url("./planets/mercury.png");
  font-size: calc(var(--mercury-size) / 2);
  animation-name: shadow-top;
}
#venus .planet {
  --venus-size: calc(1.86 * var(--scale));
  height: var(--venus-size);
  width: var(--venus-size);
  background-image: url("./planets/venus.png");
  font-size: calc(var(--venus-size) / 2);
  animation-name: shadow-left;
}
#earth .planet {
  --earth-size: calc(1.96 * var(--scale));
  height: var(--earth-size);
  width: var(--earth-size);
  background-image: url("./planets/earth.png");
  font-size: calc(var(--earth-size) / 2);
  animation-name: shadow-right;
}
#mars .planet {
  --mars-size: calc(1.45 * var(--scale));
  height: var(--mars-size);
  width: var(--mars-size);
  background-image: url("./planets/mars.png");
  font-size: calc(var(--mars-size) / 2);
  animation-name: shadow-bottom;
}
#jupiter .planet {
  --jupiter-size: calc(6 * var(--scale));
  height: var(--jupiter-size);
  width: var(--jupiter-size);
  background-image: url("./planets/jupiter.png");
  font-size: calc(var(--jupiter-size) / 2);
  animation-name: shadow-right;
}
#saturn .planet {
  --saturn-size: calc(5.4 * var(--scale));
  height: var(--saturn-size);
  width: var(--saturn-size);
  background-image: url("./planets/saturn.png");
  font-size: calc(var(--saturn-size) / 2);
  animation-name: shadow-left;
}
#uranus .planet {
  --uranus-size: calc(2.34 * var(--scale));
  height: var(--uranus-size);
  width: var(--uranus-size);
  background-image: url("./planets/uranus.png");
  font-size: calc(var(--uranus-size) / 2);
  animation-name: shadow-left;
}
#neptune .planet {
  --neptune-size: calc(2.45 * var(--scale));
  height: var(--neptune-size);
  width: var(--neptune-size);
  background-image: url("./planets/neptune.png");
  font-size: calc(var(--neptune-size) / 2);
  animation-name: shadow-top;
}

/* ------------ SHADOW ANIMATIONS ------------ */
/* Top starting position */
@keyframes shadow-top {
  0% {
    box-shadow: inset 0 0 1.25em rgba(0, 0, 0, 0.5);/* TOP */
  }
  25% {
    box-shadow: inset 1em 0 0.5em rgba(0, 0, 0, 0.5);/* LEFT */
  }
  49.9% {
    box-shadow: inset 2.5em -1.25em 1em rgba(0, 0, 0, 0.5);/* BOTTOM */
  }
  50.1% {
    box-shadow: inset -2.5em -1.25em 1em rgba(0, 0, 0, 0.5);/* BOTTOM */
  }
  75% {
    box-shadow: inset -1em 0 0.5em rgba(0, 0, 0, 0.5);/* RIGHT */
  }
  100% {
    box-shadow: inset 0 0 1.25em rgba(0, 0, 0, 0.5);/* TOP */
  }
}
/* Left starting position */
@keyframes shadow-left {
  0% {
    box-shadow: inset 1em 0 0.5em rgba(0, 0, 0, 0.5);/* LEFT */
  }
  24.9% {
    box-shadow: inset 2.5em -1.25em 1em rgba(0, 0, 0, 0.5);/* BOTTOM */
  }
  25.1% {
    box-shadow: inset -2.5em -1.25em 1em rgba(0, 0, 0, 0.5);/* BOTTOM */
  }
  50% {
    box-shadow: inset -1em 0 0.5em rgba(0, 0, 0, 0.5);/* RIGHT */
  }
  75% {
    box-shadow: inset 0 0 1.25em rgba(0, 0, 0, 0.5);/* TOP */
  }
  100% {
    box-shadow: inset 1em 0 0.5em rgba(0, 0, 0, 0.5);/* LEFT */
  }
}
/* Right starting position */
@keyframes shadow-right {
  0% {
    box-shadow: inset -1em 0 0.5em rgba(0, 0, 0, 0.5);/* RIGHT */
  }
  25% {
    box-shadow: inset 0 0 1.25em rgba(0, 0, 0, 0.5);/* TOP */
  }
  50% {
    box-shadow: inset 1em 0 0.5em rgba(0, 0, 0, 0.5);/* LEFT */
  }
  74.9% {
    box-shadow: inset 2.5em -1.25em 1em rgba(0, 0, 0, 0.5);/* BOTTOM */
  }
  75.1% {
    box-shadow: inset -2.5em -1.25em 1em rgba(0, 0, 0, 0.5);/* BOTTOM */
  }
  100% {
    box-shadow: inset -1em 0 0.5em rgba(0, 0, 0, 0.5);/* RIGHT */
  }
}
/* Bottom starting position */
@keyframes shadow-bottom {
  0% {
    box-shadow: inset -2.5em -1.25em 1em rgba(0, 0, 0, 0.5);/* BOTTOM */
  }
  25% {
    box-shadow: inset -1em 0 0.5em rgba(0, 0, 0, 0.5);/* RIGHT */
  }
  50% {
    box-shadow: inset 0 0 1.25em rgba(0, 0, 0, 0.5);/* TOP */
  }
  75% {
    box-shadow: inset 1em 0 0.5em rgba(0, 0, 0, 0.5);/* LEFT */
  }
  100% {
    box-shadow: inset 2.5em -1.25em 1em rgba(0, 0, 0, 0.5);/* BOTTOM */
  }
}